/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbarBackground: #ffffff;

// $bodyBackground: #aed14f;
// $linkColor: #aed14f;
// $navbarBackgroundHighlight: #aed14f;

@import "bootstrap";
@import "bootstrap-responsive";

body {
  background-image: url(asset_path('cloud22_opt.jpg', image));
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
          // or you could just center the image if it's bigger than the current viewport
          // background-position: center center;
}

.navbar-inner {
   // border: none;
   // opacity: 0.75;
   // background-image: none;
   // background-color: transparent;
   // background-repeat: no-repeat;
   // background-position: center top;
   // filter: none;

   // -webkit-box-shadow: none;
   //    -moz-box-shadow: none;
   //         box-shadow: none;

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.75)), color-stop(100%,rgba(255,255,255,0.75))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#bfffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#page_container {
	padding-top: 85px;

  h1 {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYWVkMTRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  rgba(174,209,79,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(174,209,79,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(174,209,79,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(174,209,79,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(174,209,79,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(174,209,79,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aed14f', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    padding: 10px 10px 10px 20px;
    -moz-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    // -moz-border-bottom-right-radius: 25px;
    // border-bottom-right-radius: 25px;
    color: white;
    margin-top: 30px;
  }

  h2, .body_panel {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.75)), color-stop(100%,rgba(255,255,255,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#bfffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  }

  .body_panel {
    padding: 20px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    border-bottom-left-radius: 25px;
    -moz-border-bottom-left-radius: 25px;

    // padding-bottom: 10px;
    // padding-left: 20px;
    margin-bottom: 50px;
  }

  h2 {
    color: #aed14f;
    margin-bottom: 0px;
    // padding-bottom: 10px;
    padding-left: 20px;
  }

  h3 {
    border-bottom: 1px solid $linkColor;
    font-size: $fontSizeLarge;
  }

  // in main body content, wrap text images
  #body_content {
    .inner {
      img {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      table {
        margin-bottom: 20px;

        th, td {
          padding-left: 5px;
          padding-right: 5px;
          font-size: $fontSizeSmall;
        }
      }

      tfoot {
        background-color: lightGray;
      }

      table.Table {
        th, td {
          border: 1px solid $linkColor;
        }

        th {
          background-color: lightGray;
        }
      }

      table.TableCurriculum {
        th, td {
          border: 1px solid $linkColor;
        }

        tbody {
          th {
            background-color: lightGray;
            width: 125px !important;
          }

          th:first-child {
            width: 125px !important;
          }

          th:last-child {
            width: 400px !important;
          }
        }

        tbody {
          tr {
            td:last-child {
              padding: 0;
            }
          }
        }

        table.Table02 {
          width: 100%;
          margin: 0;

          border-collapse: collapse;
          border-style: hidden;

          td {
            padding-left: 5px !important;
            padding-right: 5px;
            text-align: left;
          }

          td:first-child {
            width: 75px; !important;
          }

          td:last-child {
            width: 50px; !important;
          }
        }
      }
    }

  }
}

#body_content_title {
	display: none;
}

#sidenav {
  ul.nav {
    margin-top: 30px;
  }

  a {
    background-color: white;
  }

  a:hover {
    background-color: $dropdownLinkBackgroundHover;
    color: $dropdownLinkColorHover
  }
}

// footer
.footer-centered {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: $fontSizeSmall
  // float: left;
}

#id {
  p {
    margin: 0;
    padding: 0;
  }
}
